@font-face {
	font-family: 'Knockout Junior';
	src: url("../assets/static/fonts/knockout-htf-29-junior-liteweight-1361516762.ttf") format("ttf");
}

@font-face {
	font-family: 'Knockout Feather';
	src: url("../assets/static/fonts/knockout-htf-48-featherweight-1361516727.ttf") format("ttf");
}